---
layout: default
---

<div class="container my-4 my-sm-5 my-lg-6">
    <h1 class="mw-50rem mb-3 mb-lg-4 lh-1">Has your council declared a nature emergency?</h1>
    <p class="mw-40rem fs-5">We are in a nature emergency. England is one of the most nature-depleted countries in the world. 35% of species populations have declined and 13% are threatened with extinction.</p>
    <p class="mw-40rem fs-5 mb-0">But there is still hope. Together, we can reverse these declines by increasing, improving and better connecting habitats and landscapes to create a brighter, healthier future for nature and people.</p>
</div>

<div class="bg-light py-4 py-sm-5 py-lg-6 my-4 my-sm-5 my-lg-6">
    <div class="container">
        <h2 class="mw-40rem mb-3 mb-lg-4 lh-1">We’re urging all local authorities to declare a nature emergency</h2>
        <p class="mw-40rem">To help nature recover, we all need to act and local authorities have the power and influence to deliver the change nature desperately needs. Alongside local communities working to protect and restore nature, a growing number of local authorities are declaring nature emergencies. This is the first vital step to acknowledge the challenge.</p>
        <p class="mw-40rem">To demonstrate commitment to taking meaningful action for nature’s recovery, we want to see declarations supported by:</p>
        <div class="mt-4 mw-40rem d-flex gap-3 flex-column">
            <div class="d-flex gap-3 align-items-center">
                {% include images/priority-1.svg classes="text-priority-1 mt-n2 mb-2 mb-sm-n2 flex-grow-0 flex-shrink-0" width="60" height="60" %}
                <p class="fs-5 lh-md mb-0">development of a nature emergency action plan</p>
            </div>
            <div class="d-flex gap-3 align-items-center">
                {% include images/priority-2.svg classes="text-priority-2 mt-n2 mb-2 mb-sm-n2 flex-grow-0 flex-shrink-0" width="60" height="60" %}
                <p class="fs-5 lh-md mb-0">nature’s recovery being embedded into plans and policies</p>
            </div>
            <div class="d-flex gap-3 align-items-center">
                {% include images/priority-3.svg classes="text-priority-3 mt-n2 mb-2 mb-sm-n2 flex-grow-0 flex-shrink-0" width="60" height="60" %}
                <p class="fs-5 lh-md mb-0">30% of council land managed for nature recovery by 2030</p>
            </div>
        </div>
    </div>
</div>

<div class="container my-4 my-xl-5" id="councils">

    <h2 class="mb-3 mb-lg-4">Browse the scores</h2>

    <div class="scorecard">
        <div class="scorecard__filters">
            <div class="scorecard__filters__header">
                <button class="btn btn-secondary d-flex align-items-center gap-2" type="button" data-bs-toggle="collapse" data-bs-target="#scorecardFiltersDetail" aria-controls="scorecardFiltersDetail" aria-expanded="false">
                    {%- include icons/filter.svg -%}
                    Filter by council type and more…
                </button>
                <p class="mb-0">
                    Showing <span class="text-redacted">99</span> of <span class="text-redacted">99</span> councils
                </p>
            </div>
            <div class="scorecard__filters__detail collapse" id="scorecardFiltersDetail">
                <div>
                    <label class="form-label" for="filter-council-type">Council type</label>
                    <select class="form-select" id="filter-council-type">
                        <option selected>All</option>
                        <option>County, Borough, City, and Unitary councils</option>
                        <option>District councils</option>
                    </select>
                </div>
                <div>
                    <label class="form-label" for="filter-council-region">Country/region</label>
                    <select class="form-select" id="filter-council-region">
                        <option selected>All</option>
                        <optgroup label="Countries">
                            <option>England</option>
                            <option>Scotland</option>
                            <option>Wales</option>
                            <option>Northern Ireland</option>
                        </optgroup>
                        <optgroup label="Regions of England">
                            <option>East Midlands</option>
                            <option>East of England</option>
                            <option>London</option>
                            <option>North East</option>
                            <option>North West</option>
                            <option>South East</option>
                            <option>South West</option>
                            <option>West Midlands</option>
                            <option>Yorkshire and The Humber</option>
                        </optgroup>
                    </select>
                </div>
                <div>
                    <label class="form-label" for="filter-council-ruc">Rural/urban</label>
                    <select class="form-select" id="filter-council-ruc">
                        <option selected>All</option>
                        <option>Rural</option>
                        <option>Sparse and rural</option>
                        <option>Urban</option>
                        <option>Urban with rural areas</option>
                    </select>
                </div>
                <div>
                    <label class="form-label" for="filter-council-imd">Socio-economic index (IMD)</label>
                    <select class="form-select" id="filter-council-imd">
                        <option selected>All</option>
                        <option>1 – most deprived</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5 – least deprived</option>
                    </select>
                </div>
                <div>
                    <label class="form-label" for="filter-ned">Nature emergency declaration</label>
                    <select class="form-select" id="filter-ned">
                        <option selected>All</option>
                        <option>Has declared a nature emergency</option>
                        <option>Has not declared a nature emergency</option>
                        <option>Has {{ site.data.priorities["priority_1"].description_committed }}</option>
                        <option>Has {{ site.data.priorities["priority_2"].description_committed }}</option>
                        <option>Has {{ site.data.priorities["priority_3"].description_committed }}</option>
                    </select>
                </div>
                <div>
                    <label class="form-label" for="filter-ned-date">Year declaration passed</label>
                    <select class="form-select" id="filter-ned-date">
                        <option selected>All</option>
                        <option>2024</option>
                        <option>2023</option>
                        <option>2022</option>
                        <option>2021</option>
                        <option>2020</option>
                        <option>2019</option>
                        <option>2018</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="scorecard__summary">
            <div class="scorecard__summary__tile">
                {% include images/leaf-0.svg classes="text-priority-0-200" %}
                <div>
                    <strong class="d-block h1"><span class="text-redacted">99</span>%</strong>
                    have declared a nature emergency
                </div>
            </div>
            <div class="scorecard__summary__tile">
                {% include images/leaf-1.svg classes="text-priority-1-200" %}
                <div>
                    <strong class="d-block h1"><span class="text-redacted">99</span>%</strong>
                    have {{ site.data.priorities["priority_1"].description_committed }}
                </div>
            </div>
            <div class="scorecard__summary__tile">
                {% include images/leaf-2.svg classes="text-priority-2-200" %}
                <div>
                    <strong class="d-block h1"><span class="text-redacted">99</span>%</strong>
                    have {{ site.data.priorities["priority_2"].description_committed }}
                </div>
            </div>
            <div class="scorecard__summary__tile">
                {% include images/leaf-3.svg classes="text-priority-3-200" %}
                <div>
                    <strong class="d-block h1"><span class="text-redacted">99</span>%</strong>
                    have {{ site.data.priorities["priority_3"].description_committed }}
                </div>
            </div>
        </div>

        <div class="scorecard__data">
            <div class="scorecard__data__header">
                <label class="form-label" for="scorecard-table-search">Find a council</label>
                <p class="search-input mb-0">
                    <input type="text" class="form-control form-control-sm" placeholder="Council name or postcode" aria-label="Council name or postcode" id="scorecard-table-search">
                    <button type="button" aria-label="Search">{% include icons/search.svg %}</button>
                </p>
            </div>
            <div class="scorecard__data__table table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>Council</th>
                            <th style="vertical-align: top;">
                                {% include images/priority-0.svg classes="d-block text-priority-0 mt-n2 mb-2" width="40" height="40" %}
                                Nature emergency
                            </th>
                            <th style="vertical-align: top;">
                                {% include images/priority-1.svg classes="d-block text-priority-1 mt-n2 mb-2" width="40" height="40" %}
                                {{ site.data.priorities["priority_1"].short_name | capitalize }}
                            </th>
                            <th style="vertical-align: top;">
                                {% include images/priority-2.svg classes="d-block text-priority-2 mt-n2 mb-2" width="40" height="40" %}
                                {{ site.data.priorities["priority_2"].short_name | capitalize }}
                            </th>
                            <th style="vertical-align: top;">
                                {% include images/priority-3.svg classes="d-block text-priority-3 mt-n2 mb-2" width="40" height="40" %}
                                {{ site.data.priorities["priority_3"].short_name | capitalize }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {%- for c in site.data.councils -%}
                        <tr class="{% if c.council_slug == page.council_slug %}highlighted{% endif %}" data-council-slug="{{ c.council_slug }}" data-council-type="{{ c.council_type }}" data-council-nation="{{ c.council_nation }}" data-council-region="{{ c.council_region }}" data-council-ruc="{{ c.council_ruc }}" data-council-imd="{{ c.council_imd }}" data-council-data-council-ned="{{ c.ned }}" data-ned-date-passed="{{ c.ned_date_passed | date: '%Y' }}" data-priority-1="{{ c.priority_1 }}" data-priority-2="{{ c.priority_2 }}" data-priority-3="{{ c.priority_3 }}" aria-expanded="{% if c.council_slug == page.council_slug %}true{% else %}false{% endif %}">
                            <td>
                                <a href="{{ c.council_slug | prepend: 'councils/' | relative_url }}">{{ c.council_name }}</a>
                            </td>
                            <td class="text-{% include declaration-color.html i=c.ned %}">
                                {%- include declaration-tick-cross.html i=c.ned -%}
                            {%- if c.ned_date_passed -%}
                                {{- c.ned_date_passed | date: '%Y' -}}
                            {%- endif -%}
                            </td>
                            <td class="text-{% include priority-color.html i=c.priority_1 %}">
                                {%- include priority-tick-cross.html i=c.priority_1 -%}
                            </td>
                            <td class="text-{% include priority-color.html i=c.priority_2 %}">
                                {%- include priority-tick-cross.html i=c.priority_2 -%}
                            </td>
                            <td class="text-{% include priority-color.html i=c.priority_3 %}">
                                {%- include priority-tick-cross.html i=c.priority_3 -%}
                            </td>
                        </tr>
                    {%- endfor -%}
                    {%- for i in (1..50) -%}
                        <tr>
                            <td><a href="#" class="text-redacted">Some Other Council</a></td>
                            <td class="text-error">
                                {%- include declaration-tick-cross.html i=0 -%}
                            </td>
                            <td class="text-error">
                                {%- include priority-tick-cross.html i=0 -%}
                            </td>
                            <td class="text-error">
                                {%- include priority-tick-cross.html i=0 -%}
                            </td>
                            <td class="text-error">
                                {%- include priority-tick-cross.html i=0 -%}
                            </td>
                        </tr>
                    {%- endfor -%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="bg-light py-4 py-sm-5 py-lg-6 mt-4 mt-sm-5 mt-lg-6">
    <div class="container">
        <h2 class="mw-40rem mb-3 mb-lg-4 lh-1">Why declare a nature emergency?</h2>
        <p class="mw-40rem">Nature is integral to our culture, to a healthy society, and to a thriving and sustainable economy. Putting these plans into practice will show bold leadership in creating nature-rich places for people to live, work and play. It will also make a crucial contribution to the UK Government’s commitment to protect and manage 30% of UK land for nature by 2030.</p>

        <h2 class="mw-40rem mb-3 mt-5 mt-lg-6 mb-lg-4 lh-1">Next steps</h2>
        <p class="mw-35rem">We want to help local authorities declare nature emergencies and commit to meaningful action to protect and restore their wildlife.</p>
        <ul class="mw-40rem my-3">
            <li class="mb-2">Delve into more detail and recommendations for local government in our <a href="#">nature recovery policy report</a></li>
            <li class="mb-2">Share the suggested wording in our <a href="#">example motion</a> to make the declaration</li>
            <li>See other local authorities’ experiences on this crucial journey in our <a href="#">case studies</a></li>
        </ul>
        <p class="mw-35rem mb-0">If your local authority needs advice or support, we’re here to help. Email <a href="#">XXXXXXX</a> or call <a href="#">XXXXXXX</a>.</p>
    </div>
</div>
