<p class="mx-auto mw-45rem">
    We have made every effort to ensure the accuracy of this information, which is correct as of the website launch in February 2025. Your council may have since taken action that is not yet recorded here. We plan to publish a full update in March 2027.
</p>
<p class="mb-0 mx-auto mw-45rem">
    <strong>Something not right?</strong>
    If you have any corrections in the meantime, please contact
    <a href="mailto:governmentaffairs@woodlandtrust.org.uk">governmentaffairs@woodlandtrust.org.uk</a>.
</p>
