<tr class="expanded collapse show" id="{{ c.council_slug  }}-section">
    <td colspan="5" class="p-3 p-lg-4">
        <button class="btn btn-sm btn-outline-primary d-flex align-items-center mb-3"  data-bs-toggle="collapse" data-bs-target="#{{ c.council_slug  }}-section" aria-expanded="true">
          <span class="me-1">Collapse this section</span>
          {%- include icons/cross.svg classes=include.classes width=include.width height=include.height role=include.role -%}
        </button>

        <h2 class="h5 mb-0">
            {{ include.council.council_name | default: '[[ council.council_name ]]' }}

          {% if include.council.ned == "1" %}
            <a href="{{ include.council.ned_url | default: '[[ council.ned_url ]]' }}" target="_blank" title="Opens in a new window">declared a nature emergency</a>
          {% elsif include.council.ned == "2" %}
            <a href="{{ include.council.ned_url | default: '[[ council.ned_url ]]' }}" target="_blank" title="Opens in a new window">declared a joint climate emergency and nature emergency</a>
          {% elsif include.council.ned == "4" %}
            may have declared a nature emergency
          {% else %}
            has not declared a nature emergency
          {% endif %}

          {% if include.council.ned == "1" or include.council.ned == "2" %}
            in {{ include.council.ned_date_passed | default: '[[ council.ned_date_passed ]]' | date: '%Y' }}
          {% endif %}
        </h2>

      {% if include.council.ned == "1" or include.council.ned == "2" %}
        <figure class="mb-0 mt-3 mt-lg-4 border-start ps-3" style="--bs-border-width: 0.25rem; --bs-border-color: rgba(0,0,0,0.1);">
            <blockquote class="blockquote">
                <p class="fs-7 fst-italic font-serif">“{{ include.council.ned_exact_wording | default: '[[ council.ned_exact_wording ]]' | newline_to_br }}”</p>
            </blockquote>
            <figcaption class="blockquote-footer mt-n2 mb-0">
                <a href="{{ include.council.ned_url | default: '[[ council.ned_url ]]' }}" target="_blank" title="Opens in a new window">
                    Passed
                    {{ include.council.ned_date_passed | default: '[[ council.ned_date_passed ]]' | date: '%Y-%m-%d' }}
                    by
                    {{ include.council.ned_where_passed | default: '[[ council.ned_where_passed ]]' }}
                </a>
            </figcaption>
      {% endif %}
    </td>
</tr>
