<footer class="text-white bg-dark py-4 py-xl-5 mt-4 mt-xl-5">
  <div class="container-xxl">
      <div class="row mt-n3">
          <div class="col-sm-6 col-md-4 mt-3">
              <h2 class="text-redacted">nature emergency</h2>
              <p class="text-redacted mb-0">Amet consectetur adipiscing elit ut. Malesuada bibendum arcu vitae elementum curabitur vitae nunc. Ornare massa eget egestas purus.</p>
          </div>
          <div class="col-sm-6 col-md-4 offset-md-4 mt-3">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/privacy' | relative_url }}">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-redacted" href="#">Some link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-redacted" href="#">Another link</a>
                </li>
            </ul>
          </div>
      </div>
  </div>
</footer>
