<header class="wt-nav">
    <div class="wt-nav__mobile">
        <a class="wt-nav__brand" href="{{ '/' | relative_url }}">Nature Emergency UK</a>
        <button class="wt-nav__toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDesktop" aria-controls="navbarDesktop" aria-expanded="false">
            <div class="wt-nav__toggler__icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <span class="wt-nav__toggler__show">Menu</span>
            <span class="wt-nav__toggler__hide">Close</span>
        </button>
    </div>
    <nav class="collapse" id="navbarDesktop">
        <div class="wt-nav__secondary">
            <div class="container-md">
                <a class="wt-nav__brand" href="https://www.woodlandtrust.org.uk/">Woodland Trust</a>
                <form role="search" class="search-input">
                    <label class="visually-hidden" for="header-search">Find a council by name or postcode</label>
                    <input class="form-control" name="pc" id="header-search" type="search" placeholder="Find a council">
                    <button type="submit" aria-label="Search">{%- include icons/search.svg -%}</button>
                </form>
            </div>
        </div>
        <div class="wt-nav__primary">
            <div class="container-md">
                <a class="wt-nav__brand" href="{{ '/' | relative_url }}">Nature Emergency UK</a>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ '/about/' | relative_url }}">About this data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ '/case-studies/' | relative_url }}">Case studies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ '/motion/' | relative_url }}">Example motion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ '/blog/' | relative_url }}">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
