@font-face {
    font-display: swap;
    font-family: "Roboto Flex";
    font-style: normal;
    font-weight: 1 1000;
    font-stretch: 1% 500%;
    src: url("../fonts/RobotoFlex.woff2") format("woff2-variations");
}
