@font-face {
    font-display: swap;
    font-family: "Roboto Flex";
    font-style: normal;
    font-weight: 1 1000;
    src: url("../fonts/RobotoFlex.woff2") format("woff2-variations");
}

@font-face {
    font-display: swap;
    font-family: "Redacted Script";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/RedactedScriptBold.woff2") format("woff2");
}
