$wt-nav-mobile-breakpoint: 'md'; // needs to match the container-* class in the HTML
$wt-nav-mobile-padding: $spacer;

.wt-nav {
    background: var(--#{$prefix}blue);
    color: var(--#{$prefix}white);

    .container,
    [class^="container-"] {
        --#{$prefix}gutter-x: 0;

        @include media-breakpoint-up($wt-nav-mobile-breakpoint) {
            --#{$prefix}gutter-x: #{$container-padding-x};

            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .collapse {
        @include media-breakpoint-up($wt-nav-mobile-breakpoint) {
            display: block; // override .collapse:not(.show)
        }
    }
}

.wt-nav__brand,
.wt-nav__toggler {
    text-decoration: none;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 .2rem $wt-action;
    }
}

.wt-nav__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-left: #{$container-padding-x * 0.5};

    @include media-breakpoint-up($wt-nav-mobile-breakpoint) {
        display: none;
    }

    .wt-nav__brand {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        color: var(--#{$prefix}white);
        font-weight: 900;
        font-stretch: 75%; // condensed
        text-transform: uppercase;
        font-size: 1.25rem;
        line-height: 1;
        text-wrap: balance;

        &:before {
            content: "";
            width: 46px;
            height: 35px;
            flex: 0 0 auto;
            background: transparent url('../img/wt-leaves-white.svg') 50% 50% no-repeat;
        }
    }
}

.wt-nav__primary,
.wt-nav__secondary {
    display: flex;
    flex-direction: column;
    background-color: var(--#{$prefix}gray-900);
    color: var(--#{$prefix}white);

    .wt-nav__brand {
        display: none;
    }
}

.wt-nav__secondary {
    padding: 1rem 1rem 0 1rem;

    @include media-breakpoint-up($wt-nav-mobile-breakpoint) {
        flex-direction: row;
        justify-content: space-between;

        color: var(--#{$prefix}black);
        background-color: var(--#{$prefix}white);
        padding: map-get($spacers, 3) 0;

        .wt-nav__brand {
            display: block;
            overflow: hidden;
            height: 0;
            padding-top: 34px;
            width: 160px;
            background: transparent url('../img/wt-logo-horizontal-color.svg') 50% 50% no-repeat;
            background-size: contain;
        }

        .search-input .form-control {
            min-width: 20em;
        }
    }

    .form-control {
        padding: 0.5rem 0.75rem; // down from standard (0.75rem 1rem) to save some vertical space
    }
}

.wt-nav__primary {
    padding: 0.5rem 0;

    .nav {
        --#{$prefix}nav-link-font-weight: 700;
        --#{$prefix}nav-link-color: var(--#{$prefix}white);
        --#{$prefix}nav-link-hover-color: var(--#{$prefix}white);
        flex-direction: column;

        @include media-breakpoint-up($wt-nav-mobile-breakpoint) {
            flex-direction: row;
            justify-content: flex-end;
        }
    }

    .nav-link {
        &:focus,
        &:hover {
            background-color: var(--#{$prefix}utility);
        }
    }

    @include media-breakpoint-up($wt-nav-mobile-breakpoint) {
        background-color: var(--#{$prefix}blue);
        padding: map-get($spacers, 4) 0;

        .wt-nav__brand {
            display: block;

            color: var(--#{$prefix}white);
            font-weight: 900;
            font-stretch: 75%; // condensed
            text-transform: uppercase;
            font-size: 2rem;
            line-height: 1;
            text-wrap: balance;
        }

        .nav-link {
            border-radius: $border-radius-sm;

            &:focus,
            &:hover {
                background-color: var(--#{$prefix}white);
                color: var(--#{$prefix}blue);
            }
        }
    }

    @include media-breakpoint-up("lg") {
        padding: map-get($spacers, 5) 0;
    }
}

.wt-nav__toggler {
    background-color: var(--#{$prefix}gray-900);
    color: var(--#{$prefix}white);
    border: none;
    padding: $wt-nav-mobile-padding 0;

    font-size: 0.5rem;
    line-height: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;

    @include media-breakpoint-up($wt-nav-mobile-breakpoint) {
        display: none;
    }
}

.wt-nav__toggler__show {
    padding-top: 4px;
    display: block;

    [aria-expanded="true"] & {
        display: none;
    }
}

.wt-nav__toggler__hide {
    padding-top: 4px;
    display: none;

    [aria-expanded="true"] & {
        display: block;
    }
}

.wt-nav__toggler__icon {
    width: 20px;
    height: 13px;
    position: relative;
    margin: 5px ($wt-nav-mobile-padding * 1.5);
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: currentColor;
        opacity: 1;
        left: 0;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 6px;
        }

        &:nth-child(3) {
            top: 6px;
        }

        &:nth-child(4) {
            top: 12px;
        }
    }

    [aria-expanded="true"] & {
        span {
            &:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
    
            &:nth-child(2) {
                transform: rotate(45deg);
            }
    
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
    
            &:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
        }
    }
}
