html:has(.scorecard),
body:has(.scorecard) {
    scroll-snap-type: y proximity;
}

.scorecard__summary {
    display: grid;
    gap: map-get($spacers, 3);
    grid-template-columns: repeat(1, 1fr);
    margin: map-get($spacers, 4) 0;

    @include media-breakpoint-up(sm) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(md) {
        gap: map-get($spacers, 4);
    }

    @include media-breakpoint-up(lg) {
        margin: map-get($spacers, 5) 0;
        gap: map-get($spacers, 5);
        grid-template-columns: repeat(4, 1fr);
    }

    & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: map-get($spacers, 3);
        border-radius: var(--#{$prefix}border-radius);

        @include media-breakpoint-up(lg) {
            padding: map-get($spacers, 4);
        }
    }
}

.scorecard__summary__tile {
    position: relative;

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        height: 130%;
        width: auto;
        z-index: -1;
    }

    div {
        max-width: 14em;
    }
}

.scorecard__data {
    background: var(--#{$prefix}gray-100);
    border-radius: var(--#{$prefix}border-radius);
    border: 1px solid var(--#{$prefix}border-color);

    @include media-breakpoint-up(sm) {
        display: flex;
        flex-direction: column;
        max-height: calc(100dvh - 4rem);
        scroll-snap-align: start;
        scroll-margin-top: 2rem;
    }
}

.scorecard__data__header,
.scorecard__data__filters {
    padding: map-get($spacers, 3);
    border-bottom: 1px solid var(--#{$prefix}border-color);

    body.no-js & {
        display: none !important;
    }
}

.scorecard__data__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: map-get($spacers, 3);

    @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.scorecard__data__filters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: map-get($spacers, 3);

    @include media-breakpoint-up(lg) {
        gap: map-get($spacers, 4);
    }
}

// The "scorecard" table on the homepage, and "similar councils" table
// on an individual council page share a lot of common styles.
.scorecard__data__table,
.mini-scorecard {
    table {
        --cell-padding: 0.5rem;

        @include media-breakpoint-up(md) {
            --cell-padding: 0.75rem;
        }

        @include media-breakpoint-up(lg) {
            --cell-padding: 1rem;
        }

        & > :not(caption) > * > * {
            padding: var(--cell-padding);
        }

        th, td {
            line-height: 1.2;
        }

        tr:has(a){
            cursor: pointer;
        }

        a {
            box-shadow: none;
            color: inherit;
            background: transparent !important; // override default link hover/focus background

            &:focus-visible {
                box-shadow: 0 0 0 .2rem $wt-action;
            }
        }

        tr > .priority-0,
        tr > .priority-1,
        tr > .priority-2,
        tr > .priority-3 {
            width: 15%;
        }

        thead {
            tr > .priority-0 {
                --#{$prefix}table-bg: var(--#{$prefix}priority-0-200);
            }

            tr > .priority-1 {
                --#{$prefix}table-bg: var(--#{$prefix}priority-1-100);
            }

            tr > .priority-2 {
                --#{$prefix}table-bg: var(--#{$prefix}priority-2-100);
            }

            tr > .priority-3 {
                --#{$prefix}table-bg: var(--#{$prefix}priority-3-100);
            }
        }

        tbody {
            tr > .priority-0 {
                --#{$prefix}table-bg: var(--#{$prefix}priority-0-100);
            }

            svg {
                vertical-align: -0.1em;
                margin-right: 0.1em;
            }
        }

        tr.highlight {
            --#{$prefix}table-bg: #{mix($wt-common-gorse, #fff, 20%)};

            & > .priority-0 {
                --#{$prefix}table-bg: #{mix($wt-common-gorse, #eee, 20%)};
            }
        }

        // Hover effects only if JS has made the rows clickable.
        html.js & {
            tr:has(td:hover) {
                --#{$prefix}table-bg: #{$gray-100};
            }

            tbody tr:has(:hover) > .priority-0 {
                --#{$prefix}table-bg: var(--#{$prefix}priority-0-200);
            }

            tr.highlight:has(td:hover) {
                --#{$prefix}table-bg: #{mix($wt-common-gorse, #fff, 33%)};

                & > .priority-0 {
                    --#{$prefix}table-bg: #{mix($wt-common-gorse, #eee, 33%)};
                }
            }
        }
    }
}

.scorecard__data__table {
    @include media-breakpoint-up(sm) {
        width: 100%;
        overflow: auto;
    }

    table {
        thead {
            position: sticky;
            top: 0;
            box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.05);
        }
    }

    // Hide rows that fail to match any one or more of the applied filters.
    // Doing this via CSS is much quicker than looping through rows in JavaScript.
    [data-filters~="council-type-stc"] tbody tr:not([data-council-type="STC"]),
    [data-filters~="council-type-cty"] tbody tr:not([data-council-type="CTY"]),
    [data-filters~="council-type-nmd"] tbody tr:not([data-council-type="NMD"]),
    [data-filters~="nation-england"] tbody tr:not([data-nation="England"]),
    [data-filters~="nation-scotland"] tbody tr:not([data-nation="Scotland"]),
    [data-filters~="nation-wales"] tbody tr:not([data-nation="Wales"]),
    [data-filters~="nation-northern-ireland"] tbody tr:not([data-nation="Northern Ireland"]),
    [data-filters~="region-east-midlands"] tbody tr:not([data-region="East Midlands"]),
    [data-filters~="region-east-of-england"] tbody tr:not([data-region="East of England"]),
    [data-filters~="region-london"] tbody tr:not([data-region="London"]),
    [data-filters~="region-north-east"] tbody tr:not([data-region="North East"]),
    [data-filters~="region-north-west"] tbody tr:not([data-region="North West"]),
    [data-filters~="region-south-east"] tbody tr:not([data-region="South East"]),
    [data-filters~="region-south-west"] tbody tr:not([data-region="South West"]),
    [data-filters~="region-west-midlands"] tbody tr:not([data-region="West Midlands"]),
    [data-filters~="region-yorkshire-and-the-humber"] tbody tr:not([data-region="Yorkshire and The Humber"]),
    [data-filters~="ruc-rural"] tbody tr:not([data-ruc="Rural"]),
    [data-filters~="ruc-sparse-and-rural"] tbody tr:not([data-ruc="Sparse and rural"]),
    [data-filters~="ruc-urban"] tbody tr:not([data-ruc="Urban"]),
    [data-filters~="ruc-urban-with-rural-areas"] tbody tr:not([data-ruc="Urban with rural areas"]),
    [data-filters~="imd-1"] tbody tr:not([data-imd="1"]),
    [data-filters~="imd-2"] tbody tr:not([data-imd="2"]),
    [data-filters~="imd-3"] tbody tr:not([data-imd="3"]),
    [data-filters~="imd-4"] tbody tr:not([data-imd="4"]),
    [data-filters~="imd-5"] tbody tr:not([data-imd="5"]),
    [data-filters~="has-ned"] tbody tr[data-ned="0"],
    [data-filters~="has-no-ned"] tbody tr:not([data-ned="0"]),
    [data-filters~="has-priority-1"] tbody tr:not([data-priority-1="1"]),
    [data-filters~="has-priority-2"] tbody tr:not([data-priority-2="1"]),
    [data-filters~="has-priority-3"] tbody tr:not([data-priority-3="1"]),
    [data-filters~="ned-year-2024"] tbody tr:not([data-ned-year="2024"]),
    [data-filters~="ned-year-2023"] tbody tr:not([data-ned-year="2023"]),
    [data-filters~="ned-year-2022"] tbody tr:not([data-ned-year="2022"]),
    [data-filters~="ned-year-2021"] tbody tr:not([data-ned-year="2021"]),
    [data-filters~="ned-year-2020"] tbody tr:not([data-ned-year="2020"]),
    [data-filters~="ned-year-2019"] tbody tr:not([data-ned-year="2019"]),
    [data-filters~="ned-year-2018"] tbody tr:not([data-ned-year="2018"]) {
        display: none;
    }
}

.scorecard__summary__tile__of-matches {
    display: none;

    .scorecard:has([data-filters]) & {
        display: block;
    }
}

// The "similar councils" table on an individual council page.
.mini-scorecard {
    table {
        border-width: 1px;
        border-style: solid;
    }
}
