$leaflet-images-directory: '../vendor/leaflet/img';

// Color system
$green: #126e43; // This one the text-success pass contrast test against bg-green-100


// Options

$enable-shadows: true;
$enable-negative-margins: true;

// Gradient

// Spacing

// Position

// Body

// Utilities maps

// Links

// Paragraphs

// Grid breakpoints

// Grid containers

// Grid columns

// Container padding

// Components

// Typography

$font-family-serif: Georgia, Times, "Times New Roman", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-weight: 700;

$blockquote-font-size: 1rem;

// Tables

// Buttons + Forms

// Buttons

// Forms

// Form validation

// Z-index master list

// Navs

// Navbar

$navbar-padding-y: 1rem;
$navbar-nav-link-padding-x: 1rem;

// Dropdowns

// Pagination

// Placeholders

// Cards

// Accordion

// Tooltips

// Popovers

// Toasts

// Badges

// Modals

// Alerts

// Progress bars

// List group

// Image thumbnails

// Figures

// Breadcrumbs

// Carousel

// Spinners

// Close

// Offcanvas

// Code
