---
layout: default
---
{% assign council = site.data.councils | where: "council_slug", page.council_slug | first %}
{% assign similarities = site.data.similarities | where: "gss_a", council.council_gss %}

<div class="container my-4 my-sm-5 my-lg-6">
    <h1 class="display-1 text-center">{{ council.council_name }}</h1>

    <dl class="council-metadata-grid my-4 my-lg-5">
        <dt>Council type</dt>
        <dd class="mb-lg-3">{% include human-council-type.html council_type=council.council_type %}</dd>
      {% if council.council_nation == council.council_region %}
        <dt>Nation</dt>
        <dd class="mb-lg-3">{{ council.council_nation }}</dd>
      {% else %}
        <dt>Nation and region</dt>
        <dd class="mb-lg-3">{{ council.council_nation }}, {{ council.council_region }}</dd>
      {% endif %}
        <dt>Rural/Urban profile</dt>
        <dd class="mb-lg-3">{{ council.council_ruc }}</dd>
        <dt>Deprivation quintile</dt>
        <dd class="mb-lg-3">{{ council.council_imd }} ({% include imd-description.html imd=council.council_imd %})</dd>
    </dl>

    <div class="row">
        <div class="mb-4 mb-md-0 col-md-7">

            <h2 class="h3 mb-md-3 mb-lg-4">Nature commitments</h2>
            <div class="d-flex flex-column gap-3 gap-lg-4">
                <div class="card council-commitment-card">
                    <div class="card-header bg-priority-0-100">
                        <h3 class="h5 mb-0">Nature emergency</h3>
                    </div>
                    {% include images/priority-0.svg classes="d-block text-priority-0" width="64" height="64" %}
                    <div class="card-body">
                      {% if council.ned == "1" or council.ned == "2" or council.ned == "3" %}
                        <div class="d-flex gap-3">
                            {%- include icons/tick.svg classes="text-success" -%}
                            <div>
                                <p class="mb-0">
                                  {% if council.ned == "3" %}
                                    {{ council.council_name }} has not officially declared a nature emergency, but did pass a nature recovery motion
                                  {% else %}
                                    {{ council.council_name }} declared a nature emergency
                                  {% endif %}
                                  {%- if council.ned_date_passed %}
                                    in {{ council.ned_date_passed | date: '%Y' }}
                                  {%- endif %}.
                                </p>
                              {%- if council.ned_exact_wording -%}
                                <details>
                                    <summary>
                                        <span class="fake-link">
                                            Read the full
                                          {% if council.ned == "3" %}
                                            motion
                                          {% else %}
                                            declaration
                                          {% endif %}
                                        </span>
                                    </summary>
                                    <div class="mt-3 fs-7 text-muted">
                                        <p class="mb-0">{{ council.ned_exact_wording | newline_to_br }}</p>
                                        <p class="mt-2 mb-0">— {{ council.ned_where_passed }} <a href="{{ council.ned_url }}">(Source)</a></p>
                                    </div>
                                </details>
                              {%- endif -%}
                            </div>
                        </div>
                      {% else %}
                        <div class="d-flex gap-3">
                            {%- include icons/cross.svg classes="text-error" -%}
                            <p class="mb-0">{{ council.council_name }} has not declared a nature emergency.</p>
                        </div>
                      {% endif %}
                    </div>
                </div>
                <div class="card council-commitment-card">
                    <div class="card-header bg-priority-1-100">
                        <h3 class="h5 mb-0">{{ site.data.priorities["priority_1"].short_name | capitalize }}</h3>
                    </div>
                    {% include images/priority-1.svg classes="d-block text-priority-1" width="64" height="64" %}
                    <div class="card-body">
                      {% if council.priority_1 == "1" %}
                        <div class="d-flex gap-3">
                            {%- include icons/tick.svg classes="text-success" -%}
                            <p class="mb-0">{{ council.council_name }} has {{ site.data.priorities["priority_1"].description_committed }}.</p>
                        </div>
                      {% else %}
                        <div class="d-flex gap-3">
                            {%- include icons/cross.svg classes="text-error" -%}
                            <p class="mb-0">{{ council.council_name }} has not {{ site.data.priorities["priority_1"].description_committed }}.</p>
                        </div>
                      {% endif %}
                    </div>
                </div>
                <div class="card council-commitment-card">
                    <div class="card-header bg-priority-2-100">
                        <h3 class="h5 mb-0">{{ site.data.priorities["priority_2"].short_name | capitalize }}</h3>
                    </div>
                    {% include images/priority-2.svg classes="d-block text-priority-2" width="64" height="64" %}
                    <div class="card-body">
                      {% if council.priority_2 == "1" %}
                        <div class="d-flex gap-3">
                            {%- include icons/tick.svg classes="text-success" -%}
                            <p class="mb-0">{{ council.council_name }} has {{ site.data.priorities["priority_2"].description_committed }}.</p>
                        </div>
                      {% else %}
                        <div class="d-flex gap-3">
                            {%- include icons/cross.svg classes="text-error" -%}
                            <p class="mb-0">{{ council.council_name }} has not {{ site.data.priorities["priority_2"].description_committed }}.</p>
                        </div>
                      {% endif %}
                    </div>
                </div>
                <div class="card council-commitment-card">
                    <div class="card-header bg-priority-3-100">
                        <h3 class="h5 mb-0">{{ site.data.priorities["priority_3"].short_name | capitalize }}</h3>
                    </div>
                    {% include images/priority-3.svg classes="d-block text-priority-3" width="64" height="64" %}
                    <div class="card-body">
                      {% if council.priority_3 == "1" %}
                        <div class="d-flex gap-3">
                            {%- include icons/tick.svg classes="text-success" -%}
                            <p class="mb-0">{{ council.council_name }} has {{ site.data.priorities["priority_3"].description_committed }}.</p>
                        </div>
                      {% else %}
                        <div class="d-flex gap-3">
                            {%- include icons/cross.svg classes="text-error" -%}
                            <p class="mb-0">{{ council.council_name }} has not {{ site.data.priorities["priority_3"].description_committed }}.</p>
                        </div>
                      {% endif %}
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4 offset-md-1">

            <h2 class="h3 mb-md-3 mb-lg-4">Next steps</h2>
            <ul class="my-3 list-unstyled">
                {% include next-steps.html location="council" %}
            </ul>
        </div>
    </div>

    <div class="mt-5 mt-lg-6">
        {% include supporter-cta.html location="index" %}
    </div>
</div>

<div class="bg-light py-4 py-sm-5 py-lg-6">
  {% if similarities %}
    <div class="container mb-4 mb-lg-5">
        <h2 class="text-center">How does this council compare?</h2>
        <p class="text-center">Here are the {{ similarities|size }} most similar councils, based on a combination of distance, urban/rural split, emissions profile, and deprivation.</p>
        <div class="mini-scorecard table-responsive mt-4 mt-lg-5">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th class="council-name">
                            Council
                        </th>
                        <th class="council-similarity">
                            Similarity
                        </th>
                        <th style="vertical-align: top;" class="priority-0">
                            {% include images/priority-0.svg classes="d-block text-priority-0 mt-n2 mb-2" width="40" height="40" %}
                            Nature emergency
                        </th>
                        <th style="vertical-align: top;" class="priority-1">
                            {% include images/priority-1.svg classes="d-block text-priority-1 mt-n2 mb-2" width="40" height="40" %}
                            {{ site.data.priorities["priority_1"].short_name | capitalize }}
                        </th>
                        <th style="vertical-align: top;" class="priority-2">
                            {% include images/priority-2.svg classes="d-block text-priority-2 mt-n2 mb-2" width="40" height="40" %}
                            {{ site.data.priorities["priority_2"].short_name | capitalize }}
                        </th>
                        <th style="vertical-align: top;" class="priority-3">
                            {% include images/priority-3.svg classes="d-block text-priority-3 mt-n2 mb-2" width="40" height="40" %}
                            {{ site.data.priorities["priority_3"].short_name | capitalize }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                  <tr class="highlight">
                      <td class="council-name">
                          <a href="{{ council.council_slug | prepend: 'councils/' | relative_url }}">{{ council.council_name }}</a>
                      </td>
                      <td class="council-similarity">
                          <strong class="text-accent">This council</strong>
                      </td>
                      <td class="text-{% include declaration-color.html i=council.ned %} priority-0">
                          {%- include declaration-tick-cross.html i=council.ned -%}
                        {%- if council.ned_date_passed -%}
                          {{- council.ned_date_passed | date: '%Y' -}}
                        {%- endif -%}
                      </td>
                      <td class="text-{% include priority-color.html i=council.priority_1 %} priority-1">
                          {%- include priority-tick-cross.html i=council.priority_1 -%}
                      </td>
                      <td class="text-{% include priority-color.html i=council.priority_2 %} priority-2">
                          {%- include priority-tick-cross.html i=council.priority_2 -%}
                      </td>
                      <td class="text-{% include priority-color.html i=council.priority_3 %} priority-3">
                          {%- include priority-tick-cross.html i=council.priority_3 -%}
                      </td>
                    </tr>
                  {% for similarity in similarities %}
                    {%- assign similar_council = site.data.councils | where: "council_gss", similarity.gss_b | first -%}
                    <tr>
                      <td class="council-name">
                          <a href="{{ similar_council.council_slug | prepend: 'councils/' | relative_url }}">{{ similar_council.council_name }}</a>
                      </td>
                      <td class="council-similarity">
                          {{ similarity.match }}%
                      </td>
                      <td class="text-{% include declaration-color.html i=similar_council.ned %} priority-0">
                          {%- include declaration-tick-cross.html i=similar_council.ned -%}
                        {%- if similar_council.ned_date_passed -%}
                          {{- similar_council.ned_date_passed | date: '%Y' -}}
                        {%- endif -%}
                      </td>
                      <td class="text-{% include priority-color.html i=similar_council.priority_1 %} priority-1">
                          {%- include priority-tick-cross.html i=similar_council.priority_1 -%}
                      </td>
                      <td class="text-{% include priority-color.html i=similar_council.priority_2 %} priority-2">
                          {%- include priority-tick-cross.html i=similar_council.priority_2 -%}
                      </td>
                      <td class="text-{% include priority-color.html i=similar_council.priority_3 %} priority-3">
                          {%- include priority-tick-cross.html i=similar_council.priority_3 -%}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  {% endif %}
    <div class="container text-balance text-center">
        {% include corrections.html location="council" %}
    </div>
</div>

<div class="py-4 py-sm-5 py-lg-6">
    <div class="container-readable">
        <p class="text-center text-balance">Nature Emergency UK has been developed by the Woodland Trust in association with mySociety and Climate Emergency UK.</p>
        <div class="d-flex align-items-center justify-content-center gap-4 gap-lg-5 mt-4">
            <a href="https://www.mysociety.org" class="unstyled-link"><img src="{{ '/static/img/mysociety-logo.svg' | relative_url }}" alt="mySociety" width="152" height="32" class="d-block"></a>
            <a href="https://climateemergency.uk" class="unstyled-link"><img src="{{ '/static/img/ceuk-logo.png' | relative_url }}" alt="Climate Emergency UK" width="137" height="48" class="d-block"></a>
        </div>
    </div>
</div>
